export GOOGLE_GENAI_USE_VERTEXAI="true"
export GOOGLE_CLOUD_PROJECT="your-gcp-project-id"
export GOOGLE_CLOUD_LOCATION="global"
export CLOUD_RUN_REGION="us-west1"
export SA_NAME="adk-runner-sa"
export GCS_BUCKET_NAME="adk-analysis"